*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	font-family: Montserrat, Helvetica, sans-serif;
	background-color: #0b0f14;
	line-height: 1.5;
}

.main-container {
	display: grid;
	padding: 50px;
	height: 100vh;
	height: 100dvh;
	grid-auto-rows: 300px;
	grid-auto-columns: 500px;
	grid-template-areas:
	". navbar ."
	". header ."
	". projects .";
}

.navbar-section {
	display: flex;
	grid-area: navbar;
}

.header-section {
	display: flex;
	grid-area: header;
}

.projects-section-grid{
	display: flex;
	grid-area: projects;
}

.quote-section {
	display: flex;
	grid-area: quote;
}

.about-section-grid {
	display: flex;
	grid-area: about;
}

.contact-section {
	display: flex;
	grid-area: contact;
}

.footer-section {
	display: flex;
	grid-area: footer;
}

.skip-link{
	position: fixed;
	bottom: 1;
	right: 1;
	opacity: 0;
	border: 2px solid white;
	color: black;
	background-color: rgb(255, 0, 0);
	font-size: 20px;
	font-weight: 600;
	padding: 10px;
	pointer-events: none;
	transition: 0.3s ease;
}

.skip-link:focus{
	opacity: 1;	
}



h1 {
	margin-bottom: 0.5rem;
	font-size: 64px;
	font-weight: 600;
}

h2 {
	font-size: 34px;
	font-weight: 600;
	margin-bottom: 4rem;
}

h3 {
	margin-bottom: 1rem;
	font-size: 24px;
	font-weight: 600;
}

p {
	font-size: 20px;
	max-width: 30rem;
}

a {
	color: inherit;
	text-decoration: none;
}

.btn {
	font-size: 20px;
	font-weight: 800;
}

 ul{
	list-style-type: none;
	padding: 0;
}


